* {
    margin: 0;
    padding: 0;
}

/* Navbar Styles */ 
ul.topnav {
    list-style-type: none;
    top: 0;
    overflow: hidden;
}

ul.topnav li { float: left; }

ul.topnav li a {
    display: block;
    color: #009933;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover {background-color: lightgrey;}

ul.topnav li.right {float: right;}

/* Body Styles */
.title {
    font-size: 32px;
    position: relative;
    text-align: center;
    background-color: #4d94ff;
}

.subtitle {
    font-size: 18px;
    position: absolute;
    top: 80px;
    left: 100px;
    text-align: center;
    z-index: 2;
}

#woman {
    position: relative;
    left: -70px;
    width: 400px;
    height: auto;
}

h2 {
    text-align: center;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 120px;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  .card-container {
    padding: 2px 16px;
    text-align: center;
  }

/* Footer Styles */
footer {
    position: fixed;
    bottom: 0;
    left: 50%;
    text-align: center;
}

footer p {
    position: relative;
    bottom: 10px;
    transform: translate(-50%, -50%);
}

/* Media Queries */
@media screen and (max-width: 320px) {
    .topnav {
        display: none;
    }
}